.prod-card {
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
    border-radius: 1rem;
    width: 90%;
    background-color: #fcf7f2;
    height: 200px;
    overflow: hidden;
}

.prod-img {
    display: block;
    height: 150px;
    height: 55%;
    object-fit: cover;
    width: 100%;
    box-shadow: 0 2px 5px rgb(0 0 0 / 37%);
    z-index: 2;
    border-radius: 0.5rem;
}

.prod-info {
    display: flex;
    flex-direction: column;
    padding: 0.3rem;
    gap: 0.25rem;
    font-size: 0.95rem;
    font-weight: 500;
    height: 100%;
    justify-content: space-between;
}

.prods-container {
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

.prod-card-container {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    height: 45%;
    justify-content: space-between;
}

.prod-add-btn {
    background-color: #F6BD60;
    padding: 0.3rem 0.5rem;
    transition-duration: 0.25s;
}

.prod-add-btn:hover {
    cursor: pointer;
    background-color: orange;
    transition-duration: 0.25s;
}

.prod-add-btn:disabled {
    background-color: rgb(212, 212, 212);
    color: rgb(87, 87, 87);
    font-weight: 500;
}

.prod-add-btn:disabled:hover {
    cursor: default;
}

@media (min-width: 350px) {
    .prod-card {
        width: 45%;
        max-width: 220px;
    }
}