.cart-header {
    background-color: #9B445C;
    background-image: url('../../Assets/hollowed-boxes.svg');
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.068);
}

.cart-h2 {
    color: white;
    max-width: 1200px;
    margin: 0 auto;
    padding: 1.4rem 1rem;
    font-size: 1.5rem;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}

.cart-items-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 405px;
    width: 100%;
}

.cart-flex {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 2rem 1rem;
}

.cart-prod-card {
    height: 95px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.45);
    border-radius: 0.5rem;
    overflow: hidden;
    background-color: rgb(235, 235, 235);
    display: flex;
}

.cart-prod-info {
    font-size: 0.95rem;
    font-weight: 500;
    color: rgb(29, 29, 29);
}

.cart-prod-img {
    border-radius: 0.5rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.35);
    width: 40%;
    object-fit: cover;
}

.cart-btns {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.3rem;
    border-radius: 0.1rem;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    font-weight: 500;
    color: black;
    width: 70px;
    outline: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 1rem;
}

.prod-qty-btn {
    background-color: rgb(253, 183, 53);
    transition-duration: 0.2s;
    width: 22px;
    height: 22px;
    padding: 0.2rem;
    display: block;
}

.prod-qty-btn:hover {
    cursor: pointer;
    background-color: rgb(238, 156, 3);
}

.cart-prod-container {
    padding: 0.4rem;
    display: flex;
    width: 60%;
    flex-direction: column;
    justify-content: space-between;
}

.prod-btn-container {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.empty-cart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    font-size: 1.2rem;
    padding: 2.5rem;
    background-color: rgb(247, 247, 247);
}

.empty-cart {
    text-align: center;
    margin: 1rem 0;
}

.best-sellers-cart {
    background-color: rgb(235, 232, 227);
    padding: 2rem 1rem 1.5rem;
}

.best-sellers-max-width {
    max-width: 1200px;
    margin: 0 auto;
}

.cart-sum {
    display: flex;
    flex-wrap: wrap;
    gap: 0.2rem;
    justify-content: space-between;
    padding: 1rem;
    border-radius: 0.2rem;
    font-weight: 500;
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}

.subtotal-text,
.subtotal-price {
    white-space: nowrap;
}

.checkout-btn {
    display: block;
    padding: 0.5rem 1rem;
    border-radius: 0.2rem;
    background-color: #ffa631;
    transition-duration: 0.25s;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    font-weight: 500;
}

.checkout-btn:hover {
    cursor: pointer;
    transition-duration: 0.25s;
    background-color: #f5910e;
}

.sum-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin: 0 auto;
    width: 100%;
    max-width: 405px;
}

.del-btn:hover {
    cursor: pointer;
    filter: drop-shadow(0 0 1px rgba(255, 0, 0, 0.6));
    transition-duration: 0.3s;
}

@media (min-width: 768px) {

    .cart-flex {
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
    }

    .sum-container {
        width: 300px;
        margin: 0;
        position: sticky;
        top: 80px;
    }

}