.cart-items-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    width: fit-content;
}

.cart-prod-card {
    width: 220px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.45);
    border-radius: 0.5rem;
    overflow: hidden;
    height: 165px;
    background-color: rgb(235, 235, 235);
}

.cart-prod-info {
    font-size: 0.95rem;
    font-weight: 500;
    color: rgb(29, 29, 29);
}

.cart-prod-img {
    border-radius: 0.5rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.35);
    height: 55%;
    width: 100%;
    object-fit: cover;
}

.cart-btns {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.3rem;
    border-radius: 0.1rem;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    font-weight: 500;
    color: black;
    width: 70px;
    outline: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 1rem;
}

.prod-qty-btn {
    background-color: rgb(253, 183, 53);
    transition-duration: 0.2s;
    width: 22px;
    height: 22px;
    padding: 0.2rem;
    display: block;
}

.prod-qty-btn:hover {
    cursor: pointer;
    background-color: rgb(238, 156, 3);
}

.cart-prod-container {
    padding: 0.4rem;
    display: flex;
    height: 45%;
    flex-direction: column;
    justify-content: space-between;
}

.prod-btn-container {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.empty-cart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    font-size: 1.2rem;
    margin: 1rem 0;
}

.empty-cart {
    text-align: center;
    margin: 1rem 0;
}

.best-sellers-cart {
    background-color: rgb(235, 230, 221);
    padding: 2rem;
}